<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> DirectReach </title>
    <link rel="stylesheet" href="/homepage1.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   </head>
<body>
  {{!-- <nav>
    <div class="menu">
      <img src="img1.png" alt="" height="90" width="125"/>
      <div class="logo">
        <a href="#">DirectReach</a>
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/homeAbout">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
  </nav> --}}

  {{!-- <li><a href="/login">Influencer Login</a></li>
  <li><a href="/loginBusiness">Business Login</a></li>
  <li><a href="/influencer">Signup</a></li>
  <li><a href="/listI">Influencers List</a></li>
  <li><a href="/listB">Businesses List</a></li> --}}
  
  <div class="img" ></div>
  <div class="center">
    <div class="title">Please select your Profession</div>
    <div class="sub_title">Business/Influencer</div>
    <div class="btns">
      <a href="/influencer"/>
      <button>Are you an Influencer?</button>
      </a>
      <a href="/Business"/>
      <button>Are you in Business? </button>
      </a>
    </div>s
  </div>
</body>

</html>
